body {
    font-family: 'Poppins', sans-serif;
}

/* ************************ Search bar Section CSS ***************************** */
.text-input-box{
    font-size: 14px;
    font-weight: 400;
}
.search-btn{
    font-size: 14px;
    font-weight: 400;
    color: #111;
    background-color: #00000000;
    border: solid 1px #eaeaea;
}
.search-btn:hover{
    background-color: #0000000f;
}


/* ************************ Banner Carousel Section CSS ***************************** */
.carousel .carousel-inner .carousel-img {
    height: 120px;
}





/* ************************ Search name Section CSS ***************************** */
.searched-name{
    font-size: 22px;
    font-weight: 500;
    color: #111;
}



/* ************************ Filters Section CSS ***************************** */
.filter-btn{
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    border: solid 1px #eaeaea;
    cursor: pointer;
    padding: 8.5px 10px;
    color: #111;
    position: relative;
    background: #f7f7f7;
}


/* ************************ Product Section CSS ***************************** */

/* #business-row {
    border-top: none;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-radius: 0 0 10px 10px;
    padding: 10px 5px 20px;
  }
   */


   .prod-container{
    border-radius: 10px;
    border: solid 1px #eee;
    background-color: #fff;
    padding: 20px;
   }
   .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  } 
h2 {
    font-size: 22px;
    font-weight: 500;
    color: #111;
    line-height: 28px;
}


#location {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 8px;
}

#location img {
    margin-right: 4px;
}

.btn-primary:active {
    box-shadow: none !important;
}

#call-btn {
    width: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    background-color: #058a07;
    border-radius: 5px;
    border: solid 1px #027c0a;
    padding: 0 9px;
    cursor: pointer;
}

.rate-hd-h6 {
    color: #fff;
    padding-left: 7px;
    padding-top: 2px;
    margin-right: 10px !important;
    font-size: 17px;
    font-weight: 500;
    width: 38px;
    height: 24px;
    border-radius: 6px;
    background-color: #2a8531;
}

#call-btn:hover {
    background-color: #006e08 !important;
}

.business-svgs {
    margin-right: 6px;
}
.filter-svg{
    margin-right: 10px;
}

.cta-btns {
    /* width: 100px; */
    color: #111;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    border: solid 1px #eee;
    background-color: #fff !important;
    padding: 0 9px;
}

.cta-btns:hover {
    background-color: #0000000f !important;
}

.icons {
    margin-right: 10px;
}

a i {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.star-svg {
    padding-bottom: 4px;
}

.star-align {
    margin-left: -10px;
}