body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #222021;
    --secondary-color: #066cfa;
    --bg-color: #a8a8a8e9;
    --text-color: #555;
    --black-color: #000;
    --white-color: #fff;
    --primary-font: "Poppins", sans-serif;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, .12);
}